<table class="table table-bordered" *ngIf="students">
  <tr>
    <th>Name</th>
    <th>Divison</th>
    <th>Gender</th>
    <th>Dob</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.name}}</td>
    <td>{{student.division}}</td>
    <td>{{student.gender}}</td>
    <td>{{student.dateOfBirth}}</td>
    <td>
      <input value="Edit" type="button" (click)="Edit(student.code)" class="btn btn-sm btn-success"> |
      <input value="Delete" type="button" (click)="Delete(student.code)" class="btn btn-sm btn-danger">
    </td>
  </tr>

</table>

<p *ngIf="!students">
  Loading ...
</p>